$color_p: white;
$font-p: "Sans", sans-serif;
$font-h: "Raleway", sans-serif;
$color_2: #0070FF;
$font-h1: "Monserrat", sans-serif;
$color-back: linear-gradient(180deg, #000000, #0e0419, #14082b, #150b3d, #140b51, #0f0b65, #01097a);
$color-backblack: black;